<div class=bg_circle>
  <div class=circle_wrapper>
    <div class=circle></div>
  </div>
</div>
<div class=wrapper>
  <hgroup>
    <h1>Castlight Quick Tour</h1>
  </hgroup>
  <div class=text>
    {{#each qt}} {{#each scenes}}
    <article id={{../name}}_{{id}}>
      <div class=title>{{title}}</div>
      <div class=description>{{description}}</div>
      {{#if image}}
      <div class=img style='background-image:url({{image}})'></div>
      {{/if}}
    </article>
    {{/each}} {{/each}}
    <div class=svg>
      <svg width="100%" height="100%" viewBox="0 0 1086 830" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M292.946571,138.255655 C329.346571,173.955655 381.146571,179.355655 408.246571,206.155655 C435.446571,232.955655 437.946571,281.155655 414.646571,311.155655 C391.346571,341.055655 342.146571,352.655655 304.346571,361.555655 C266.646571,370.455655 240.446571,376.655655 210.546571,381.655655 C180.646571,386.655655 147.146571,390.455655 115.446571,379.555655 C83.7465712,368.655655 53.8465712,343.155655 32.2465712,307.655655 C10.6465712,272.155655 -2.65342875,226.555655 0.446571245,176.955655 C3.54657125,127.255655 23.0465712,73.4556547 61.3465712,38.3556547 C99.7465712,3.35565474 156.946571,-12.8443453 196.146571,11.9556547 C235.346571,36.7556547 256.446571,102.655655 292.946571,138.255655" id="blob4" fill="#ffffff" opacity=0.1></path>
        <path d="M307.4721,29.4843 C323.9721,46.9843 328.9721,74.7843 350.2721,105.5843 C371.5721,136.2843 409.3721,169.9843 413.6721,204.0843 C418.0721,238.1843 389.1721,272.6843 353.7721,286.7843 C318.4721,300.9843 276.6721,294.8833 235.1721,294.5843 C193.6721,294.3833 152.2721,299.8833 107.2721,288.8833 C62.2721,277.8833 13.5721,250.1843 2.5721,211.4843 C-8.5279,172.6843 18.1721,122.8843 46.7721,85.6843 C75.4721,48.5843 106.1721,24.0843 137.8721,11.5843 C169.5721,-0.9157 202.2721,-1.6157 232.5721,1.6843 C262.9721,4.8843 290.9721,11.9843 307.4721,29.4843" id="blob3" fill="#ffffff" opacity=0.1></path>
        <path d="M350.288438,34.6880592 C389.988438,61.4880592 422.288438,103.688059 429.488438,149.488059 C436.688438,195.388059 418.688438,244.888059 391.888438,287.388059 C365.188438,329.988059 329.488438,365.588059 289.288438,373.888059 C249.088438,382.088059 204.288438,362.988059 156.888438,347.388059 C109.488438,331.688059 59.3884381,319.588059 30.0884381,286.688059 C0.788438093,253.888059 -7.61156191,200.388059 7.08843809,156.988059 C21.8884381,113.588059 59.9884381,80.2880592 98.6884381,53.2880592 C137.488438,26.2880592 176.888438,5.58805915 220.188438,0.988059153 C263.388438,-3.61194085 310.588438,7.88805915 350.288438,34.6880592" id="blob2" fill="#ffffff" opacity=0.1></path>
        <path d="M344.0779,62.6168 C382.4779,84.1168 421.5779,111.0168 432.0779,146.4168 C442.5779,181.8168 424.4779,225.8168 397.6789,254.2168 C370.8789,282.5168 335.3789,295.3168 306.0779,323.8168 C276.6789,352.2168 253.5779,396.4168 216.8779,415.2168 C180.0789,433.9168 129.7779,427.2168 98.0789,399.5168 C66.3779,371.8168 53.2779,323.1168 35.8779,274.6168 C18.3779,226.1168 -3.5221,177.8168 0.4779,129.3168 C4.4779,80.9168 34.2779,32.3168 76.9779,12.1168 C119.5789,-7.9832 175.0789,0.3168 221.5789,12.6168 C268.0779,24.8168 305.6789,41.0168 344.0779,62.6168" id="blob1" fill="#ffffff" opacity=0.1></path>
        <path d="M336.176614,69.3120878 C377.876614,97.9120878 419.676614,132.812088 436.576614,179.312088 C453.476614,225.811088 445.476614,284.012088 414.176614,319.912088 C382.777614,355.712088 328.176614,369.212088 279.976614,376.612088 C231.676614,384.012088 189.676614,385.212088 145.576614,376.212088 C101.376614,367.212088 55.0766138,348.012088 29.0766138,312.412088 C3.07661379,276.811088 -2.62338621,224.912088 0.976613785,169.412088 C4.57661379,113.912088 17.3766138,54.8120878 53.9766138,25.2120878 C90.5766138,-4.28791218 150.976614,-4.28791218 201.976614,6.91208782 C252.976614,18.2120878 294.476614,40.6120878 336.176614,69.3120878" id="blob5" fill="#FA4700" opacity=0.1></path>
      </svg>
    </div>
  </div>
  <div class=phone_bg>
    <div class=phone_wrapper>
      {{#each qt}}
      <div class=group>
        <div class=section id={{name}} style='width:{{width}}px; height:{{height}}px'>
          <div class=screen style='background-image:url({{main}})'>
            <div class=filter></div>
          </div>
          <div class=overlay style='background-image:url({{main}})'></div>
        </div>
        <div class='header' id={{name}}_header style='background-image:url({{header}})'></div>
        <div class='footer' id={{name}}_footer style='background-image:url({{footer}})'></div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class=menu>
    {{#each menu}}
    <p class={{name}} data-time={{time}}><span></span>{{display}}</p>
    {{/each}}
  </div>
</div>
<div class=timeline>
  <div class=controller>
    <div class=play></div>
    <div class=pause></div>
  </div>
  <div class=progress_bar>
    <div class=progress_last></div>
    <div class=progress_background>
      {{#each menu}}
      <div class=ldot></div>
      {{/each}}
    </div>
    <div class=progress></div>
  </div>
  <div class=time></div>
</div>
